<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @joiner_email %>!</h1>
    <p>
    	Remeber to head to <%= @event.title %> on <%= @event.time %>. Also, be sure to return to the dashboard to stay up-to-date on all events!
    </p>
  </body>
</html>