<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @email %>! Has joined your event</h1>
    <p>
    	Be sure to return to the dashboard to stay up-to-date on all events!
    </p>
  </body>
</html>